<div class="updated_time">
    <span>Last Updated {{updatedTime}}</span>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
        <div class="card cards_confirmed">
            <span class="status">
                Confirmed
            </span>
            <div class="count">
                {{confirmed}}
            </div>
        </div>
        <div class="card cards_active">
            <span class="status">
                Active
            </span>
            <div class="count">
               {{active}}
            </div>
        </div>
        <div class="card cards_recovered">
            <span class="status">
                Recovered
            </span>
            <div class="count">
                {{recovered}}
            </div>
        </div>
        <div class="card cards_deceased">
            <span class="status">
                Deceased   
            </span>
            <div class="count">
                {{deceased}}
            </div>
        </div>
    </div>
